[req]
default_bits = 2048
distinguished_name = req_dn
x509_extensions = ca_ext
# req_extensions = server_ext

[req_dn]

[ca_ext]
keyUsage = critical, keyCertSign, digitalSignature, keyEncipherment, keyAgreement
basicConstraints = critical, CA:true

[client_ext]
keyUsage = critical, digitalSignature
extendedKeyUsage = clientAuth
basicConstraints = critical, CA:FALSE

[server_ext]
keyUsage = critical, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage = serverAuth
basicConstraints = critical, CA:FALSE
subjectAltName = @server_names

[server_names]
DNS.1 = localhost
DNS.2 = *.lvh.me
DNS.3 = [::1]
IP.1 = 127.0.0.1
IP.2 = fe80::1
